<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# DISABLE CACHING FOR HTML (Force new JS bundles to load)
<FilesMatch "\.(html|htm|php|json)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>

# ENABLE CACHING FOR STATIC ASSETS (JS/CSS usually have hashes)
<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|svg|js|css|woff|woff2|ttf|eot)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
